@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Clean Water Concern</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the CWC!</h2>
        <p>
            Here at the CWC we are concerned with everything water from access to clean water for all to pushing for the elimination of water pollution by corporations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>This site serves educational and informational purposes.</h2>
        <p>We work closely with <p><a class="btn btn-default" href="https://www.reddit.com/r/HydroHomies/">r/HydroHomies</a></p> over on Reddit. While there you should check out their FAQs!</p>

    </div>
    <div class="col-md-4">
        <h2>Our goal</h2>
        <p>At the end of the day, we believe the everyone should have access to clean drinking water. After all, we do HAVE to hydrate, lest we diedrate.</p>
    </div>
</div>